<!--nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="customers">Customers</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="orders">Orders</a></li>
        </ul>
    </div>
</nav-->
<router-outlet></router-outlet>
