<h1 mat-dialog-title>{{data.mode}}</h1>
<div mat-dialog-content>
    <form class="example-container">
        <mat-form-field [floatLabel]="always" style="width:450px;">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" value="{{data.id}}" [readonly]="true">
        </mat-form-field>
        <br>
        <mat-form-field [floatLabel]="always" style="width:450px;">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" value="{{data.name}}" [(ngModel)]="data.name" name="name">
        </mat-form-field>
        <br>
        <mat-form-field [floatLabel]="always" style="width:450px;">
            <mat-label>Price ($)</mat-label>
            <input matInput placeholder="Price ($)" value="{{data.price}}" [(ngModel)]="data.price" name="price">
        </mat-form-field>
        <br>
        <mat-form-field [floatLabel]="always" style="width:450px;">
            <mat-label>Creation Date</mat-label>
            <input matInput placeholder="Creation Date" value="{{data.date}}" [readonly]="true">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{data.mode}}</button>
</div>
