<app-navigation></app-navigation>
<p>Orders {{user.name}}</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>User Name</th>
    <td mat-cell *matCellDef="let element" (click)="onUserSelect(element)" class="cursor">{{element.userName}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date}}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price ($)</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>
  <ng-container matColumnDef="more">
    <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="userId!='' && totalUserOrder<user.maxOrders">
            <mat-icon (click)="onAdd()" class="cursor">add</mat-icon> {{totalUserOrder}}/{{user.maxOrders}}
        </span>
    </th>
    <td mat-cell *matCellDef="let element" (click)="onContextMenu($event, element)">
        <mat-icon class="cursor">more_vert</mat-icon>
        <div style="position: fixed"
            [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="contextMenu"
            [matMenuTriggerData]="{element: element}">
        </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="onContextMenuEdit(item)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onContextMenuDelete(item)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
      </button>
  </ng-template>
</mat-menu>
