<app-navigation></app-navigation>
<p>Customers</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element" (click)="onUserSelect(element)" class="cursor">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{element.type}}</td>
  </ng-container>
  <ng-container matColumnDef="maxOrders">
    <th mat-header-cell *matHeaderCellDef>Max Orders</th>
    <td mat-cell *matCellDef="let element">{{element.maxOrders}}</td>
  </ng-container>
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef>creation Date</th>
    <td mat-cell *matCellDef="let element">{{element.creationDate}}</td>
  </ng-container>
  <ng-container matColumnDef="more">
    <th mat-header-cell *matHeaderCellDef><mat-icon (click)="onAdd()">add</mat-icon></th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
        <mat-icon>more_vert</mat-icon>
        <div style="position: fixed"
            [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="contextMenu"
            [matMenuTriggerData]="{element: element}">
        </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="onContextMenuEdit(item)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onContextMenuDelete(item)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
      </button>
  </ng-template>
</mat-menu>
